* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.font-night-blue {
 color: rgb(3, 27, 78);
}

.font-night-blue-transparent {
  color: rgba(3, 27, 78, 0.7);
}

.font-light-blue {
  color: #0069ff;
  font-weight: 700;
}

.font-white {
  color: white;
}

.opct06 {
  opacity: 0.6;
}

.bkg-gray {
  background: #f3f5f9;
}

.bkg-white {
  background: white;
}

.bkg-blue {
  background: linear-gradient(#0048c5, #001e99);
}

.title-style {
  font-size: 36px;
  font-weight: bold;
}

.subtitle-style {
  font-size: 20px;
}

.small-box-title-style {
  font-size: 18px;
  font-weight: bold;
}

.box-paragraph-style {
  font-size: 16px;
}

.small-box-mrg-btm {
  margin-bottom: 40px;
}

.small-box-mrg-btm-img {
  margin-bottom: 10px;
}

.pad-tp-pad-btm50 {
  padding-top: 30px;
  padding-bottom: 50px;
}

.mgn-btm50 {
  margin-bottom: 50px;
}

.pdng20 {
  padding: 20px;
}

.pad-btm-table {
  padding-bottom: 10px;
}

.bdr-btm-table {
  border-bottom: 1px solid white;
}

.pad-btm20 {
  padding-bottom: 20px;
}

.smallrow-bdr-btm-white {
  border-bottom: 1px solid white;
}

.pos-rel {
  position: relative;
}

/* CAROUSELS UTILITIES */
.arrow-box-left,
.arrow-box-right {
  font-size: 60px;
  transform: translateY(-50%);
}

.arrow-box-left:hover,
.arrow-box-right:hover {
  color: #0069ff;
  cursor: pointer;
}

.arrow-box-left {
  position: absolute;
  left: -54px;
  top: 50%;
}

.arrow-box-right {
  position: absolute;
  right: -54px;
  top: 50%;
}

.carousel-dots {
  margin-top: 20px;
}

.carousel-dots li {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 1px solid #0069ff;
  border-radius: 50%;
}

.carousel-dots li:hover {
  background: #0069ff;
  cursor: pointer;
}

/* HEADER NAV STYLES */
#header-nav {
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 14px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 9999;
}

#header-nav .list-inline li:hover {
  color: #0069ff;
}

#header-nav .list-inline a {
  color: inherit;
  text-decoration: none;
}

#header-nav .btn-default {
  color: #0069ff;
  font-weight: inherit;
  border-color: #0069ff;
}

.first-menu .list-inline {
  padding-top: 8px;
}

.second-menu .list-inline {
  padding-top: 4px;
}

.hamburger {
  font-size: 40px;
}

/* JUMBOTRON STYLES */
#jumbotron-section {
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 82px;
}

.jumbotron {
  background: none;
}

.signup-box {
  background: white;
}

.signup-box h3 {
  font-size: 30px;
}

.form-control {
  height: 48px;
  font-size: 16px;
  margin-bottom: 10px;
}

#jumbotron-section .sign-in-form button {
  font-size: 16px;
  font-weight: 700;
}

#jumbotron-section .sign-in-form button:nth-last-child(2) {
  background: #579aff;
  color: white;
}

#jumbotron-section .sign-in-form button:nth-last-child(1) {
  position: relative;
  color: gray;
}

#jumbotron-section .sign-in-form button img {
  position: absolute;
  left: 10px;
  bottom: 7px;
  height: 25px;
}

.signup-box {
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.sign-in-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* PARTNERSHIP AREA STYLES */
.partnerships-container li {
  width: calc(100% / 6 - 10px);
  vertical-align: middle;
}

.partnerships-container a {
  font-size: 16px;
}

.partnerships-container a i {
  padding-left: 10px;
}

.partnerships-container a:hover {
  text-decoration: none;
  color: #0069ff;
}

/* DEPLOY AND SCALE AREA */
#deploy-and-scale ul {
  padding: 0;
  margin-left: 0;
  text-align: left;
}

#deploy-and-scale li {
  border-left: 2px solid rgba(3, 27, 78, 0.2);
  list-style: none;
}

#deploy-and-scale li:hover {
  color: rgb(3, 27, 78);
}

#deploy-and-scale li a {
  font-size: 18px;
  padding-left: 30px;
  line-height: 60px;
  text-decoration: none;
}

.deploy-scale-box {
  height: 150px;
}

/* FEATURE BUSINESS AREA */
#feature-business a {
  font-size: 16px;
}

#feature-business a i {
  padding-left: 10px;
}

#feature-business a:hover {
  text-decoration: none;
  color: #0069ff;
}

/* REGIONS AREA */
.acronym {
  width: 45px;
  font-size: 13px;
  font-weight: 700;
  margin-right: 50px;
}

.city-state,
.test-speed {
  font-size: 12px;
}

.city-state {
  color: white;
  opacity: 0.6;
}

.test-speed {
  position: absolute;
  right: 10px;
  bottom: 2px;
}

.test-speed a {
  text-decoration: none;
  color: #00d7d2;
}

.test-speed a:hover {
  color: #0069ff;
}

/* DEVELOPER TEAMS EXPERIENCES AREA */
.exp-box {
  padding: 50px;
}

.exp-box img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.exp-box h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  display: block;
}

.exp-box span {
  display: block;
  margin-bottom: 30px;
}

.exp-box a:hover {
  text-decoration: none;
  color: #0069ff;
}

/* GET STARTED AREA */
#get-started h2 {
  margin-bottom: 20px;
}

#get-started .btn {
  padding: 10px;
}


#get-started .btn-default {
  font-size: 18px;
  font-weight: 700;
  color: #0069ff;
  border: 0;
}

footer {
  background: rgb(3, 27, 78);
  color: rgba(255, 255, 255, 0.5);
  padding-top: 50px;
  padding-bottom: 170px;
}

footer h5 {
  margin-bottom: 2px;
  font-weight: 700;
}

footer h4 {
  font-size: 20px;
  font-weight: 700;
}

.footer-left ul {
  margin-top: 10px;
}

.footer-left ul li a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-left ul li a:hover {
  color: white;
}

.useful-links li {
  list-style: none;
  margin-bottom: 10px;
}

.useful-links li a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.useful-links li a:hover {
  color: white;
}

/* CHATBOX STYLES */
#chatbox {
  background: transparent;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.chat-logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #0069ff;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  transform: translateY(-16%);
}

.chat-logo img {
  width: 100%;
  padding-top: 6px;
}

.chat-logo h5 {
  display: inline-block;
  width: 27px;
  height: 27px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  padding-top: 3px;
  background: red;
  color: white;
  position: absolute;
  top: -20px;
  right: -9px;
}

.message-box {
  display: inline-block;
  width: 320px;
  padding: 5px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.message-box h5 {
  font-size: 16px;
  font-weight: 700;
}

.message-box::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}
